# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# is this case sensitive? I don't know. And Borland loves uppercase
*.OBJ 
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Borland temp files:
*.SWP